body{
    background-color: lavenderblush;
}

.call-support{
    text-align: center;
    padding: 10px 0;
}

#info-block {
    padding-bottom: 30px;
}

.carousel-inner {
  height: 400px; 
}

.carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.deals {
  background-color: #cd3232;
  height: 50px;
  width: 100%;
  display: flex;             
  align-items: center;        
  justify-content: center;    
  font-weight: bold;          
  font-size: 24px;            
  color: white;               
}


#cart-count {
  font-size: 0.75rem;
  vertical-align: top;
}

.big-box{
  width: 100%;
  height: 300px;
  background-color: #cd3232;
 
}


.big-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 0%;
   margin: 0%;

 /* flex-wrap: wrap; /* good for responsiveness */
}

.big-box .content {
  flex: 1;
  color: white;
  margin-left: 5%;
  
}

.big-box .images {
  display: flex;
  gap: 0px;
}

.big-box .images img {
  width: 200px;
  height: 300px;
  border: 0px;
  padding: 0px ;
  align-items: end;


}

.office-deal {
  background-color: red;
  border-radius: 10%;
  height: 40px;
  width: 150px;
  border: 20px;
}

.office-deal:hover{
  background-color: #ff00f2;
}


.latest {
  background-color: #cd3232;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  box-sizing: border-box;
  margin-bottom: 15px

}

.latest-deal-body{
  background-color:;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  
}

.latest-deal{
  background-color: aquamarine;
  height: 150px;
  width: 150px;
}

.mega-deal {
  background-color: antiquewhite;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  border-bottom: 10px solid black ;

}

.mega-deal:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
  background-color: rgba(150, 146, 147, 0.11);
}




.deals {
  color: bisque;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 90%;
  margin: 0% 0%;
  width: 100%;
  line-height: normal;
  border: #cd3232;
  
}

.discount {
  color: #cd3232;
  font-size: 25px;
  
}


.tech-product {
  background-color: #cd3232;
  width: 100%;
  height: 50px;
  color: white;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.first-col {
  width: 100%;
  height: 200px;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid wheat;

}

.second-col {
 width: 100%;
  height: 200px;
  background-color:rgba(10, 126, 235, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid wheat;
  font-size: xx-large;
}


.shop-now-button {
  background-color: #cd3232;
  border-radius: 10px;
  color: white;
  align-items: end;
}

.shop-now p {
  color: #cd3232;
  font-weight: bolder;
  font-size: 20px;
}

.rich-store {
   background-color: #cd3232;
  width: 100%;
  height: 70px;
  color: white;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.second-col p {
  color: white;
  font-size: 25px;
}

.online-shopping {
  background-color: #cd3232;
  width: 100%;
  height: 80px;
  color: white;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}


.leading-online {
  color: #cd3232;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.product {
  color: #cd3232;
  font-size: 20px;
}

.site-link {
  color: green;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}

.destination {
  color: #cd3232;
  font-size: 20px;
}

.footer {
  background-color: black;
  width: 100%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.footer-logo {
  display: block;
  margin: 0;
  padding: 0;
  background-color: black;
  
}

